<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.EventnoticeMapper" >
  <resultMap id="BaseResultMap" type="com.demo.domain.Eventnotice" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="eventName" property="eventname" jdbcType="VARCHAR" />
      <association property="managetype" javaType="com.demo.domain.Managetype">
          <id column="mid" property="id"></id>
          <result column="mname" property="typename"/>
      </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from eventnotice
    where Id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.demo.domain.Eventnotice" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into eventnotice ( eventName, ManagetypeID
      )
    values (#{eventname,jdbcType=VARCHAR}, #{managetypeid,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.demo.domain.Eventnotice" >
    update eventnotice
    set eventName = #{eventname,jdbcType=VARCHAR},
      ManagetypeID = #{managetypeid,jdbcType=BIGINT}
    where Id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select Id, eventName, ManagetypeID
    from eventnotice
    where Id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select Id, eventName, ManagetypeID
    from eventnotice
  </select>
    <select id="queryFor" resultMap="BaseResultMap" parameterType="long">
        select  e.Id, e.eventName, e.ManagetypeID,m.id mid,m.typename mname
        from eventnotice e left join managetype m on e.ManagetypeID= m.id
        where e.ManagetypeID= #{id}
    </select>
   <!-- 插入自定义事件类型 -->
    <insert id="insertEvent">
        insert into eventnotice ( eventName, ManagetypeID
        )
        values (#{event}, #{id}
               )
    </insert>
</mapper>